body{
    background-color: rgb(116, 182, 182);
}
.id{
    position: relative;
    left: 10px;
    top: 30px;
}
#id{
    position: relative;
    top: 30px;
    left: 10px;
}

.capacidad{
    position: relative;
    top: 80px;
    right: 00px;
}